@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=MuseoModerno:ital@1&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 560px) {
  .categories .slick-slide {
    padding: 0 10px !important;
  }
  .categories .slick-list {
    padding: 0 -10px !important;
  }
}
@media (min-width: 680px) {
  .resorts .slick-slide {
    padding: 0 16px !important;
  }
  .resorts .slick-list {
    padding: 0 -16px !important;
  }
}

.categories .slick-list {
  height: 250px !important;
}
.resorts .slick-list {
  height: 400px !important;
}
.slick-slide {
  height: 100% !important;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffe5cf;
}
